body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(12, 12, 155);
    font-family: Anton;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 50px;
}

p {
    font-family: Roboto;
    text-align: center;
    font-size: 20px;
}

h2 {
    font-family: Cedarville Cursive;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
}